<h1>All Users</h1>

<ul>
    <% @users.each do |u| %>
        <h2><%= link_to u.name, user_path(u) %></h2>
        <li><%= u.email %></li>
        <li><%= u.address %></li>
        <li><%= u.phone_number %></li>
    <% end %>
</ul>
