<h1>Sales Orders</h1>
<%= link_to "Create New Sales Order", new_sales_order_path  %>
<ul>
    <% @sales_orders.each do |s| %>
        <li><%= link_to s.sales_order_number, sales_order_path(s) %></li>
        <li><%= link_to s.customer.name, customer_path(s.customer) %></li>
    <% end %>
</ul>

